.todo{

   width: 80px;
   height: 40px;
   background-color: green; 
   font: caption;
   font-size: xx-large;
}

.todo2{

    width: 80px;
    height: 40px;
    background-color: green;
    text-align: center;
    align-content: center;
    font: caption;
    font-size: xx-large;
}

.parrafo{

    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
    border: aquamarine;
    background-color: aquamarine;
}