[class^="box"]{
 width: 100px;
 height: 100px;
}

.box1{
background-color: lime;
padding: 0px;

margin: 20px 30px 50px 60px;
 /*     top  right bottom left
}

.box2{
background-color:lightcoral;
padding: 0px;
margin: 100px;
}