  .padre{
    border: 3px black dotted;
    display: inline-block;
   }
   .box{
    display: inline-block;
    background: red;
    width: 100px;
    height: 100px;
   }
   #apuntes{
    left:30px;/* mueva a derecha*/
    top: 30px;/*mueva abajo*/
    right: 30px;/*mueva izquierda*/
    bottom: 50px;/*mueva arriba*/
   }

   #dos{
    /*top y left cambian
      segun su contenedor
      y position*/
      left:50px;
      top:50px;
      background: green;
      position: absolute;
     /*por defecto es static*/
   }