.flex{
width:80%;
height: 800px;
background-color: aqua;
border: 3px solid black;
display:flex;
justify-content:flex-end;
align-items:stretch;

}


.hijos{
    width: 100px;
    
    background-color:gold;
    border: 3px solid black;   
}